* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

/*HEADER*/

header {
    display: flex;
    flex-direction: row;
    background-color: #EDF2F8;
}

/*Parte IZQ header*/

header h1 {
    margin-top: 15px;
}

header h2,h4{
    color: gray;
    margin-bottom: 20px;
}

.header-izq {
    width: 50%;
    margin-left: 40px;
}

.header-der {
    width: 50%;
    display: flex;
    justify-content: end;
    margin-right: 40px;
}

/*Parte IZQ header*/

header ul {
    list-style: none; 
    padding: 0;
    margin-top: 15px;
    font-size: 18px;
    text-align: right;
}

header li {
    margin-bottom: 10px;
}

header i {
    margin-left: 10px;
}

/*CONTENEDOR PRINCIPAL*/

.contenido-principal {

    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

/*CONTENEDOR PRINCIPAL IZQ*/

.contenido-izq {
    margin-left: 20px;
    width: 50%;

}

.contenido-izq h3{
   margin-top: 20px;
   margin-left: 10px;
   opacity: 0.5;
}

.contenido-principal ul {
    margin-left: 30px;
    margin-top: 10px;
    opacity: 0.5;
    font-weight: bold;
}

.contenido-principal li {
   margin-top: 6px;
}

.educacion {
    margin-top: 40px;
}


.contenido-der {
    margin-left: 20px;
    width: 50%;

}

.contenedor-tiempo {
    display: flex;
    flex-direction: row;
    align-items: start;
}

/*Especial 1*/
.timeline1 {
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    font-family: Arial, sans-serif;
    flex-direction: column;
    margin-top: 20px;
}

.timeline2 {
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    font-family: Arial, sans-serif;
    flex-direction: column;
    margin-top: 150px;
}

.timeline3 {
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    font-family: Arial, sans-serif;
    flex-direction: column;
    margin-top: 90px;
}

.year {
    text-align: center;
    font-size: 15px;
    padding: 10px;
    color: gray;
    }

.line {
    width: 1px; 
    height: 15px; 
    background-color: gray; 
    margin: 0 25px; 
    }

.contenedor-fechas {
    display: flex;
    flex-direction: column;
}

/*Especial 2*/

.linea-puntos {
    position: relative;
    width: 2px;
    height: 600px; /* Ajusta según el número de puntos */
    background-color: #d3d3d3;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.punto1 {
  width: 10px;
  height: 10px;
  background-color: #444;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  margin-top: 50px;
}

.punto2 {
  width: 10px;
  height: 10px;
  background-color: #444;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  margin-top: 230px;
}

.punto3 {
  width: 10px;
  height: 10px;
  background-color: #444;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  margin-top: 170px;
}

.contenedor-educacion1 {
    width: 100%;
    margin-top: 55px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.contenedor-educacion2 {
    width: 100%;
    margin-top: 95px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.contenedor-educacion3 {
    width: 100%;
    margin-top: 100px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.contenedor-educacion h4 {
    color: black;
}

.contenedor-azules {
    color: #528CC6;
    margin-top: -10px;
}

/*Contenedor Derecha*/

.badge {
    display: inline-block;
    padding: 6px 10px;
    background-color: #528CC6;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 20px;
    }

    .timeline4 {
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    font-family: Arial, sans-serif;
    flex-direction: column;
    margin-top: 5px;
}

.timeline5 {
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    font-family: Arial, sans-serif;
    flex-direction: column;
    margin-top: 130px;
}

.timeline6 {
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    font-family: Arial, sans-serif;
    flex-direction: column;
    margin-top: 60px;
}

.contenedor-trabajo1 {
    width: 100%;
    margin-top: 55px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.contenedor-trabajo2 {
    width: 100%;
    margin-top: 45px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.contenedor-trabajo3 {
    width: 100%;
    margin-top: 60px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

/*FOOTER*/
footer {
    display: flex;
    flex-direction: row;
    background-color: #EDF2F8;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Parte IZQ footer*/

footer h1 {
    margin-top: 15px;
    align-items: center;
}



.footer-izq {
    width: 50%;
    margin-left: 40px;
}

.footer-der {
    width: 50%;
    display: flex;
    justify-content: end;
    margin-right: 40px;
    align-items: center;
}

footer i {
    margin-left: 10px;
}


  

